/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: #D5E1EF;
    margin: 0 auto;
    width: 25%;
    margin-top:50px;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  .white-container {
    background-color: #ffffff;
    /* height: ; */
    padding: 14px;
    border-radius: 20px;
    box-shadow: 1px 20px 70px -16px rgba(1, 105, 134, 0.322);
    -webkit-box-shadow: 1px 20px 70px -16px rgba(1, 105, 134, 0.322);
    -moz-box-shadow: 1px 20px 70px -16px rgba(1, 105, 134, 0.322);
  } 

  .image {
   object-fit: cover;
   /* border: 1px solid red; */
   margin: 0 auto;
   /* width: %; */
   /* height: 20rem; */
   /* margin-top: 10px; */
   margin-bottom: 10px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .paragraph {
    text-align: center;
    margin-bottom: 12px;
  }

  h1 {
    font-size: 25px;
    line-height: 1.2;
    padding: 10px 0;
    color: #131E34;
  }

  p {
    font-size: 16px;
    padding: 8px 2px;
    color: #68778D;
  }

@media (max-width: 768px)  {
    body {
        width: 75%;
    }
}