/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: #D5E1EF;
    margin: 0 auto;
    width: 30%;
    margin-top:30px;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  .white-container {
    background-color: #ffffff;
    /* height: ; */
    padding: 10px;
    border-radius: 8px;
  }

  .image {
   object-fit: cover;
   border: 1px solid red;
   margin: 0 auto;
   width: 40%;
   height: 20rem;
  }

  .paragraph {
    text-align: center;
  }

  h1 {
    /* font-size: 1rem; */
  }